.card-body {
    min-height: 220px;
}

.card-wrapper {
    margin-bottom: 20px;
}

.money-label {
    margin-right: 20px;
}

.ng-valid {
    border-color: green;
} 

.ng-invalid.ng-touched {
    border-color: red;
} 



